html {
  overflow-y: scroll;

  &.touch .tooltip { display: none !important; }
}

body {
  &.navless {
    background-color: $white-light !important;
  }

  &.card-content {
    background-color: $gray-darker;

    .content-wrapper {
      padding: 0;

      .container-fluid,
      .container-limited {
        background-color: $gray-darker;
      }
    }
  }
}

.content-wrapper {
  padding-bottom: 100px;

  &:not(.page-with-layout-nav) {
    margin-top: $header-height;
  }
}

.container {
  padding-top: 0;
  z-index: 5;
}

.container .content {
  margin: 0;
}

.navless-container {
  margin-top: $header-height;
  padding-top: $gl-padding * 2;
}

.container-limited {
  max-width: $fixed-layout-width;

  &.limit-container-width {
    max-width: $limited-layout-width;
  }

  &.limit-container-width-sm {
    max-width: $limited-layout-width-sm;
  }
}

.alert-wrapper {
  .alert {
    margin-bottom: 0;

    &:last-child {
      margin-bottom: $gl-padding;
    }
  }

  .alert-link-group {
    float: right;
  }

  /* Center alert text and alert action links on smaller screens */
  @media (max-width: $screen-sm-max) {
    .alert {
      text-align: center;
    }

    .alert-link-group {
      float: none;
    }
  }

  /* Stripe the background colors so that adjacent alert-warnings are distinct from one another */
  .alert-warning {
    transition: background-color 0.15s, border-color 0.15s;
    background-color: $orange-500;
    border-color: $orange-500;
  }

  .alert-warning + .alert-warning {
    background-color: $orange-600;
    border-color: $orange-600;
  }

  .alert-warning + .alert-warning + .alert-warning {
    background-color: $orange-700;
    border-color: $orange-700;
  }

  .alert-warning + .alert-warning + .alert-warning + .alert-warning {
    background-color: $orange-800;
    border-color: $orange-800;
  }

  .alert-warning:only-of-type {
    background-color: $orange-500;
    border-color: $orange-500;
  }
}

.page-with-sidebar > .content-wrapper {
  min-height: calc(100vh - #{$header-height});
}

.with-performance-bar .page-with-sidebar {
  margin-top: $header-height + $performance-bar-height;
}
